@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply border px-5 md:px-10 py-2.5 rounded font-semibold transition duration-200 ease-out;
	}
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
